# fly.toml app configuration file generated for nextmeeting-schedule-cron on 2025-11-23T08:21:33Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'nextmeeting-schedule-cron'
primary_region = 'fra'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
